# {{ ansible_managed }}

{% for profile in profiles %}
[{{ profile }}]
{% if aws_access_key is defined or profile.aws_access_key_id is defined %}
aws_access_key_id = {{ aws_access_key_id|default(profile.aws_access_key_id) }}
{% endif %}
{% if aws_secret_key is defined or profile.aws_secret_access_key is defined %}
aws_secret_access_key = {{ aws_secret_key|default(profile.aws_secret_access_key) }}
{% endif %}

{% endfor %}