# {{ ansible_managed }}

{% for profile in profiles %}
{% if ((aws_access_key_id is defined or
        profile.aws_access_key_id is defined) or
       (aws_secret_access_key is defined or
        profile.aws_secret_access_key is defined)) %}
[{{ profile.name }}]
{% if aws_access_key is defined or profile.aws_access_key_id is defined %}
aws_access_key_id = {{ profile.aws_access_key_id|default(aws_access_key_id) }}
{% endif %}
{% if aws_secret_access_key is defined or profile.aws_secret_access_key is defined %}
aws_secret_access_key = {{ profile.aws_secret_access_key|default(aws_secret_access_key) }}
{% endif %}
{% endif %}

{% endfor %}