# {{ ansible_managed }}

{% for profile in profiles %}
{% if ((region is defined or profile.region is defined) or
       (output is defined or profile.output is defined)) %}
[{{ profile.name }}]
{% if region is defined or profile.region is defined %}
region = {{ profile.region|default(region) }}
{% endif %}
{% if output is defined or profile.output is defined %}
output = {{ profile.output|default(output) }}
{% endif %}
{% endif %}

{% endfor %}